html {
	font-family: sans-serif;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


a{
	text-decoration: none;
}

/* clearfix for floated elements */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

nav > ol > ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}

nav > ol > li {
	float: left;
}

nav > ol > li a {
	display: block;
	line-height: 30px;
}

ol > li > ul {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top: none;
	display: none;
	position: absolute;
	background-color: white;
	top: 20%;
	width: 70%;
	left: 10%;
	box-shadow: -10px 10px 10px -10px gray;
}

ol ul a {
	width: 100%;
}

nav > ol > li:hover > ul {
	display: block;
}

nav > ol > li:hover > a{
	color: #6FB6D9 ;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: none;
	box-shadow: -3px 1px 10px -3px gray;

}

body > section:nth-child(2) h2{
	color: white;
	text-indent: none;
}
body > section:nth-child(3) h2{
	color: white;
	text-indent: none;
	text-transform: uppercase;	
}
body > section:nth-child(4) h2{
	text-align: center;
	color: white;
	text-indent: none;
	text-transform: uppercase;
}


header{
	margin: none;
	box-shadow: 1px 7px 30px -10px;
	z-index: -1;
}

nav{
	margin:auto;
	max-width: 70%;
	padding: 10px
}

article{
	margin: auto;
	max-width: 70%;
	padding: 4% 0 2% 0;
}


body > section:nth-child(2){
	background: fixed;
	color: white;
	background-image: url("../img/slide-bg-complexity.jpg");
	background-size: auto;
	background-repeat: no-repeat;
}

body > section:nth-child(2) ul{
	margin-top: 2%
}

body > section:nth-child(2) ul > li{
	position: relative;
	vertical-align: bottom;
	width: 30%;
	min-height: 100px;
	padding: 20px 1% 20px 1%;
	display: inline-block;
	border-radius: 5px;
	text-align: left;
}

.lightBotton{
	display: block;
	color: white;
	font-size: 15px;
	padding-top: 3%;
}

.newobj{
	display: inline-block;
	vertical-align: middle;
}

body > section:nth-child(2) ul > li > footer{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

body > section:nth-child(2) ul > li:hover{
	cursor: pointer;
}
body > section:nth-child(2) ul > li:nth-child(1){
	margin-right: 1%;
	background-color: rgba(255, 51, 153, 0.75); /* pink */
}

body > section:nth-child(2) ul > li:nth-child(1):hover{
	background-color: rgba(255, 51, 153, 1); /* pink */
}


body > section:nth-child(2) ul > li:nth-child(2){
	margin-right: 1%;
	background-color: rgba(90, 190, 40, 0.75); /* green */
}

body > section:nth-child(2) ul > li:nth-child(2):hover{
	background-color: rgba(90, 190, 40, 1); /* green */
}

body > section:nth-child(2) ul > li:nth-child(3){
	background-color: rgba(255, 102, 0, 0.75); /* orange */
}

body > section:nth-child(2) ul > li:nth-child(3):hover{
	background-color: rgba(255, 102, 0, 1); /* orange */
}

body > section:nth-child(3){
	text-align: center;
	background: #3196C9;
	background: radial-gradient(#6FB6D9, #3196C9); 
	box-shadow: inset 1px 7px 30px -10px;
}

body > section:nth-child(3) ol{
	margin-left: 0;
}

body > section:nth-child(3) li{
	display: inline-block;
	width: auto;
	vertical-align: top;
	font-size: 15px;
	color: white;
	padding: 1% 2% 1% 0;
}

#imageIcon1{
	content: url("../img/solution_icon_biz-analitics.png");
}
#imageIcon1:hover{
	content: url("../img/solution_icon_biz-analitics_hover.png");
}

#imageIcon2{
	content: url("../img/solution_icon_diti-cx.png");
}
#imageIcon2:hover{
	content: url("../img/solution_icon_diti-cx_hover.png");
}

#imageIcon3{
	content: url("../img/solution_icon_smart-money.png");
}
#imageIcon3:hover{
	content: url("../img/solution_icon_smart-money_hover.png");
}

#imageIcon4{
	content: url("../img/solution_icon_optimize-efficnt.png");
}
#imageIcon4:hover{
	content: url("../img/solution_icon_optimize-efficnt_hover.png");
}

#imageIcon5{
	content: url("../img/solution_icon_personal.png");
}
#imageIcon5:hover{
	content: url("../img/solution_icon_personal_hover.png");
}

#imageIcon6{
	content: url("../img/solution_icon_biz-transform.png");
}
#imageIcon6:hover{
	content: url("../img/solution_icon_biz-transform_hover.png");
}

body > section:nth-child(4){
	background: fixed;
	color: white;
	background-image: url("../img/news-and-events-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

body > section:nth-child(4) ul > li{
	display: inline-block;
	vertical-align: bottom;
	width: 30%;
	min-height: 100px;
	padding: 20px 1% 20px 1%;
	border-radius: 5px;
	text-align: left;
}

body > section:nth-child(4) li > div{
	display: block;
	color: black;
	margin-right: 1%;
	padding: 3% 3% 3% 3%;
	background-color: rgba(255, 255, 255, 0.2); /* white */
	border-radius: 5px;
}

#event1{
	content: url("../img/eventListIconNews.png");
}
#event1:hover{
	content: url("../img/eventListIconNews_hover.png");
}

#event2{
	content: url("../img/eventListIconEvents.png");
}
#event2:hover{
	content: url("../img/eventListIconEvents_hover.png");
}

#event3{
	content: url("../img/eventListIconPress.png");
}
#event3:hover{
	content: url("../img/eventListIconNews_hover.png");
}




body > section:nth-child(4) li img:nth-child(3){
	position: absolute;
	left: -10px;
}

body > section:nth-child(4) ul div:hover{
	background-color: rgba(255, 255, 255, 1); /* white */
}

body > section:nth-child(5){
	box-shadow: inset 1px 7px 30px -10px;
	text-align: center;
	background-color: #ECECEC ;
	color: #666666;
}
/*
.companyBox{
	position:relative;
	display: inline-block;
}

.companyBox img{
	width: 20%;
	clip: rect(0px, 100px, 100px, 0px);
	transition-property: clip;
	transition-duration :0.5s;
}

.companyBox img:nth-child(2):hover {
	transition-property: clip;
	transition-duration :0.5s;
	clip: rect(0px, 100px, 0px, 0px);
	}*/

	.fullQ{
		color: white;
		background-color: #3398CC;
		margin-top: 10px;
		display: none;
		top: 0px;
		max-height: 500px;
		max-width: 500px;
	}
	.fullQ::before{
		content: "\"";
	}
	.fullQ::after{
		content: "\"";
	}

	.topQ{
		background-color: white;
		text-align: left;
		margin-top: 0;
		padding: 3% 3% 3% 3%;
	}
	cite header{
		box-shadow: none;
	}

	.successBox{
		vertical-align: top;
		display: inline-block;
		padding: 0 0 0 0;
		margin: 0 auto;
		min-height: auto;
	}

	.successBox.first, .successBox.second{
		max-width: 35.5%;
	}

	.topQ > .content > p{ 
		display: inline-block;
		width: 150px;
	}
	.topQ > .content > img{
		display: inline-block;
		width: 100px;
	}
	.successBox.third{
		max-width: 25%;
	}

	.successBox > li{
		display: inline-block;
		margin: 0 auto;
	}
	.bigSuccess{
		width: 100%;
		margin-bottom: 3%;
	}
	.smallSuccess{
		position: relative;
	}
	.smallSuccess > img{
		margin: 0 auto;
		display: inline-block;
		width: 90px;
		height: 87px;
	}


	hr{
		border-bottom-width: medium;	
	}

	.nameQ{
		font-size: 110%;
		text-transform: uppercase;
		color: rgb(88, 198, 235);
	}




	.blueButton{
		background: #466368;
		background: -webkit-linear-gradient(#3993B5, #3384A3);
		background:    -moz-linear-gradient(#3993B5, #3384A3);
		background:         linear-gradient(#3993B5, #3384A3);
		color: white;
		border: none;
		height: 150%;
		padding: 10px 50px 8px 10px;
		border-radius: 5px;
		cursor: pointer;
	}

	.blueButton:hover{
		background: #466368;
		background: -webkit-linear-gradient(#74B3CB, #4790AC);
		background:    -moz-linear-gradient(#74B3CB, #4790AC);
		background:         linear-gradient(#74B3CB, #4790AC);
	}

	body > footer{
		text-align: center;
		color: white;
		background: #1A1A1A;
		background: -webkit-linear-gradient(#0A0A0A, #1A1A1A);
		background:    -moz-linear-gradient(#0A0A0A, #1A1A1A);
		background:         linear-gradient(#0A0A0A, #1A1A1A);
		padding: 0;
	}

	body > footer .footerPage{
		text-align: left;
		padding: 0 0 0 0;
		margin: 0;
		width: 23%;
		display: inline-block;
		vertical-align: top ;
	}

	body > footer .footerPage:nth-child(4){
		background-color: gray;
		margin-top: 0;
	}


	body > footer .footerPage *{
		font-size: 70%;
		text-align: left;
		padding: 0;
		margin: 5%;
	}

	footer li{
		display: list-item;
		list-style: none;
	}

	.footerPage:nth-child(4) h3{
		color: rgb(78, 167, 211);
	}

	#num18{
		font-size: 60px;
	}

	#july{
		font-size: 35px;
	}

	nav > ol > li > a {
		text-transform: uppercase;
		color: gray;
	}



	li{
		display: inline;
		padding-right: 10px;
	}

.slideButton{
	min-width: 5px;
	min-height: 10px;
	display: inline-block;
	border:0;
}
.slideButton:hover{
	background-color: gray;
}
.slideButton:focus{
	background-color: #74B3CB;
	cursor: pointer;
}